<!-- Footer Start -->

<footer>

    {% include social-buttons.html %}

    <p><br><br></p>

    <div class="container text-center">
        <p>Copyright &copy; {{ site.author }} {{ site.time | date: "%Y" }}</p>
        {% if site.keybase-in-footer %}
        <p style="font-size: 16px;"><a href="https://keybase.io/{{site.keybase-username}}" target="_blank"><i
                class="fa fa-key"></i> {{site.keybase-username}} on Keybase</a></p>
        {% endif %}
    </div>
    
    <div id="sfcck67hspxtsqfmacwmrt6frtrkbq3nfgl"></div><script type="text/javascript" src="https://counter9.freecounter.ovh/private/counter.js?c=ck67hspxtsqfmacwmrt6frtrkbq3nfgl&down=async" async></script><noscript><a href="https://www.freecounterstat.com" title="hit counter"><img src="https://counter9.freecounter.ovh/private/freecounterstat.php?c=ck67hspxtsqfmacwmrt6frtrkbq3nfgl" border="0" title="hit counter" alt="hit counter"></a></noscript><a href="https://www.freecounterstat.com" title="hit counter"><img src="https://counter9.freecounter.ovh/private/freecounterstat.php?c=ck67hspxtsqfmacwmrt6frtrkbq3nfgl" border="0" title="hit counter" alt="hit counter"></a>
</footer>

<p><br><br><br><br><br><br></p>

<!-- Footer End -->
