
<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"  data-offset="151">

    {% include navigation.html %}

    {% include header.html %}

    
    {% for page in site.pages %}


      {% if page.section-type == "b_latest-post" %}

        {% include latest-post.html %}

      {% elsif page.section-type == "d_projects-p" %}

        {% include projects-p.html %}

      {% elsif page.section-type == "c_timeline" %}

        {% include timeline.html %}

      {% elsif page.section-type == "a_about" %}

        {% include about.html %}

      {% elsif page.section-type == "e_contact" %}

        {% include contact.html %}

      {% endif %}

    {% endfor %}

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Index Layout End -->
